<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Connoisseur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Connoisseur", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* TODO: Modify nav links *@
                    <li>@Html.ActionLink("My Blackbook", "Index", "Authors")</li>
                    <li>@Html.ActionLink("The Lists", "Lists", "Journals")</li> @* TODO: add controller action to display best, worst, new etc journal entries. *@
                    <li>@Html.ActionLink("Maps", "Maps", "Home")</li>
                    <li>@Html.ActionLink("Search", "Search", "Journals")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content ">

        <div class="well cust-background-white"><!-- Style note: bootstrap is overriden with this cust- class -->
            <div class="row">
                <div class="col-sm-3"><img class="img-responsive center-block cust-banner-img" src="~/Content/Images/oregoncraftbeer.png" alt="Oregon Craft Beer" /></div>
            </div>
            @RenderBody()

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Cheers to vitality!</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




@*    @Html.Partial("_LoginPartial")     *@