@model TheConnoisseur.Models.Author

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Journal Coffee", "Create", "Coffees") |
@Html.ActionLink("Journal Beer", "Create", "Beers")

<h2>Your Connoisseur Info</h2>

<!-- Author profile summary -->
<div class="row panel">
    <div class="col-md-4 col-sm-12">
        @Html.DisplayFor(model => model.FirstName) <br/>
        @Html.DisplayFor(model => model.Username) <br/>
        @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) <br/>
        Connoisseur Since: @Html.DisplayFor(model => model.DateCreated)
    </div>
    <div class="col-md-4 col-sm-12">
        @Html.DisplayNameFor(model => model.FavItem): @Html.DisplayFor(model => model.FavItem) <br/>
        @Html.DisplayNameFor(model => model.Tagline): @Html.DisplayFor(model => model.Tagline)
    </div>
    <div class="col-md-4 col-sm-12">
        <img src="~/Content/Images/smilecup.jpg" />     @* TODO: manage image loading using a viemodel that holds html tag or somethign? *@
    </div>
</div>

<hr />
@* TODO: Use partial views to populate a list of coffee, beer, and friends on the profile page *@

@Html.Partial("FriendViewModel")

<hr />

@Html.Partial("../Beers/BeerListPartialView")

<hr />

@Html.Partial("../Coffees/CoffeeListPartialView")